<!DOCTYPE html>
<html>

 <head>
   <title>WebCampBackendNew</title>
   <meta name="csrf-param" content="authenticity_token">
   <meta name="csrf-token" content="eTb0O41jK8fmyBcCrDPY7+pGvc5MXAHLFWcPhxjT/VdwWBB8my3C/DuZnXzS66XVTFOLBsP6wGLmJqp9tR0OKA==">
   <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload">
   <script src="/assets/application-114264dd93c8ff30e4335b71eed7949d66c4e7a8eb62e2de6284c046fe07104b.js" data-turbolinks-track="reload"></script>
 </head>

 <body>
   <h1>
     ようこそ
     <strong>Bookers</strong>
     へ！
   </h1>

   <p>
     <strong>Bookers</strong>
     では、さまざまな書籍に関するあなたの意見や
   </p>

   <p>印象を共有し交換することができます</p>

    <%= link_to "Start", "/books/" %>
  </body>

</html>
